[Unit]
Description=ispovesti.ml-backend
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=dojitza
ExecStart=/home/dojitza/ispovesti.ml-backend/venv/bin/python gunicorn yadayada

[Install]
WantedBy=multi-user.target