[Unit]
Description=Generator server for ispovesti.ml
After=network.target

[Service]
User=dojitza
Group=www-data
WorkingDirectory=/home/dojitza/ispovesti.ml-backend/
Environment="PATH=/home/dojitza/ispovesti.ml-backend/venv/bin"
ExecStart=/home/dojitza/ispovesti.ml-backend/venv/bin/python /home/dojitza/ispovesti.ml-backend/ispovestGeneratorServer.py

[Install]
WantedBy=multi-user.target