<div class="row comments">
  {% if ispovest.comments %}
  <h2>Komentari:</h2>
  {% endif %} {% for comment in ispovest.comments %}
  <i>{{comment.author}}:</i>
  {{comment.text}}
  <br />
  {% endfor %}
</div>
<div class="row commentForm">
  <form action="{{url_for('addComment')}}" method="post">
    <div class="form-group">
      <label for="commentInput">Dodaj novi komentar</label>
      <input
        type="text"
        class="form-control"
        name="commentAuthorInput"
        id="commentAuthorInput"
        aria-describedby="commentHelp"
        placeholder="Vaše ime"
      />
      <input
        type="text"
        class="form-control"
        name="commentInput"
        id="commentInput"
        aria-describedby="commentHelp"
        placeholder="Vaš komentar"
      />
      <input type="hidden" name="ispovestId" value="{{ispovest._id}}" />
      <small id="commentHelp" class="form-text text-muted"
        >Nemojte da psujete znamo ko ste</small
      >
    </div>
    <button type="submit" class="btn btn-dark">Komentuj</button>
  </form>
</div>

input#commentInput, #commentAuthorInput { background-color: black; border-color:
rgb(78, 78, 78); width: 200px; color: lightgray; margin-bottom: 4px; }
